extends mainLayout

block page
  .w3-card-4.modal(id='display')
  secction
    .container.text-center.post-info
      h1= post.title
      p= post.description
      p 
        b tags: 
        each tag in post.tags
          | #{tag};  
  .container
    .row
      each file in post.files
        .col-sm-3
          .card.mb-4.box-shadow
            img.card-img-top(style='height: 225px; width: 100%; display: block;' src='/ficheiros/'+file.name onclick='showFicheiro(' + JSON.stringify(file) + ')')
            .card-body
              h5.card-title= file.name
              a.btn.btn-sm.btn-outline-secondary(href="/download/" + file.name)
                i.fas.fa-file-download
    hr
    .row.bootstrap.snippets
      .comment-wrapper
        .panel.panel-info
          .panel-heading
            | Comment panel
          .panel-body
            textarea.form-control(placeholder='Escreva um comentário...', rows='3')
            br
            button.btn.btn-info.pull-right(type='button') Post
            .clearfix
            hr
            ul.media-list
              each comment in post.comments
                li.media
                  a.pull-left(href='/profile/' + comment.owner)
                    img.img-circle(src='https://bootdey.com/img/Content/user_1.jpg', alt='')
                  .media-body
                    span.text-muted.pull-right
                      if comment.date == 0
                        small.text-muted now
                      else
                        small.text-muted #{comment.date} min ago
                    strong.text-success 
                      a(href='/profile/' + comment.owner) 
                      | @#{comment.owner}
                    p= comment.text


            