extends mainLayout

block page
  .w3-card-4.modal.modal-container(id='display')
  .album.py-5.bg-light.background
    .row
      .col(style='margin-left: 20px')
        .container(style="padding-top: 50px;").text-center.bg-white
          if(userProfile.image != undefined)
            img(style="height:300px;max-width:200px;width: expression(this.width > 200 ? 200: true);" src='/usersImg/' + userProfile.name + '/' + userProfile.image.name alt="http://placehold.it/200x200")
          else
            img(src="http://placehold.it/200x200" alt="http://placehold.it/200x200")
          .container
            .container.user-text
              h6= userProfile.name
              if user.email == userProfile.email
                p= userProfile.email
            if user.email == userProfile.email
              .container(style='padding-top: 10px; padding-bottom: 50px')
                form(action=('/profile/' + user.name + '/image') method='POST' enctype="multipart/form-data")
                  input.w3-input.w3-cell(type="file" name="img")
                  button.btn.btn-primary(type='submit') Publicar imagem
      if user.email == userProfile.email
        .col(style='margin-right: 20px')
          .container(style="padding-top: 10px;").text-center.bg-white
            h4 Subscrições atuais
            form(action=('/subscription/' + userProfile.name) method='POST')
                input.form-control(placeholder='Escreva o nome de uma tag para adicionar...' name="text", rows='1' required)
                br
                button.btn.btn-primary(type='submit') Subscrever
            if(erroTag != undefined)
              .container(style="color: rgba(240, 43, 43, 0.945); padding-top:10px") 
                h5= 'Essa tag não existe: ' + erroTag  
            if(userProfile.subscriptions.length > 0)
              hr
              table.table
                thead
                  tr
                    th(scope="col" style="width: 40%") Tag
                    th(scope="col" style="width: 20%") Domain
                    th(scope="col" style="width: 20%") Owner
                    th(scope="col") 
                tbody
                  each sub in userProfile.subscriptions
                    tr
                      td
                        a(href='/?tag=' + sub.tag role="button")= sub.tag
                      if sub.public
                        td public
                      else
                        td private
                      if !sub.public
                        td= sub.owner
                      else
                        td
                      td 
                        button.btn.btn-sm.i.fas.fa-window-close(onclick="apagarSub('" + sub.tag +"','" + userProfile.name + "')")
            else
              .container(style="padding-bottom: 10px; padding-top: 20px;" )
                h5 De momento não tens subscrições
            button.btn.btn-primary(onclick='showRequests("' + user.name + '")') Ver pedidos
          
                
    .row
      .container(style="margin-top: 50px").text-center.bg-white
        h4 Menções 
        if(userProfile.mentions.length > 0)
          table.table
            thead
              tr
                th(scope="col") Id
                th(scope="col") Titulo
                th(scope="col") Autor
                th(scope="col") Data
            tbody
              each mention in userProfile.mentions
                tr
                  td= mention._id
                  td= mention.title
                  td= mention.poster
                  td= mention.date
        else
          h5 Ainda não foste mencionado
